{% extends 'templates/site.html' %}

{% set title %}
  {{ SITE_NAME }} - Attributions
{% endset %}

{% block content %}
<h1>Code</h1>
In no particular order
<ul>
<li><a href="https://github.com/timwaters/mapwarper">Map Warper</a></li>
<li><a href="https://github.com/openstreetmap/iD">OpenStreetMap iD editor</a></li>
<li><a href="https://github.com/openstreetmap/openstreetmap-website">openstreetmap-website</li>
<li><a href="https://github.com/openstreetmap/cgimap">OpenStreetMap CGImap</a></li>
<li><a href="https://github.com/SkalskiP/make-sense">makesense.ai</a></li>
<li><a href="https://gitlab.com/n42k/3dmr">3dmr</a></li>
</ul>

<h1>Data</h1>
<ul>
<li><a href="https://opendata.cityofnewyork.us/">NYC Open Data:</a>&nbsp; New York City streets, building footprints, metadata</li>
<li><a href="https://www.openstreetmap.org/">OpenStreetMap:</a>&nbsp; Georeferencing base layer for rǝ warpǝr; road and street data</li>
<li><a href="https://digitalcollections.nypl.org/">NYPL Digital Collections:</a>&nbsp; Scans of fire insurance maps, maps metadata</li>
<li><a href="https://opendata.dc.gov/datasets/historic-data-on-dc-buildings/">Open Data DC:</a>&nbsp; Historic Data on DC Buildings</li>
<li><a href="https://www.microsoft.com/en-us/maps/building-footprints">Microsoft:</a>&nbsp; US, Canada, Australia, Uganda, Tanzania building footprints</li>
<li><a href="https://www1.nyc.gov/site/doitt/initiatives/3d-building.page">NYC DoITT:</a>&nbsp; 3D models</li>
<li><a href="https://adamlink.nl/data">Adamlink:</a>&nbsp; Amsterdam historic buildings footprints and metadata</li>
<li><a href="https://opendata.apur.org/">Paris Urbanism Agency (Apur) Open Data:</a>&nbsp; Paris and Greater Paris building footprints</li>
<li><a href="https://egis-lacounty.hub.arcgis.com/datasets/countywide-building-outlines-2014">Los Angeles County Open Data:</a>&nbsp; Los Angeles County building footprints</li>
<li><a href="https://data.cityofchicago.org/Buildings/Building-Footprints-deprecated-January-2013-/w2v3-isjw">City of Chicago:</a>&nbsp; Chicago building footprints</li>
<li><a href="https://www.opendataphilly.org/dataset/buildings">OpenDataPhilly:</a>&nbsp; Philadelphia building footprints</li>
</ul>
{% endblock %}

