{% extends 'templates/site.html' %}

{% set title %}
  {{ SITE_NAME }} - Attributions
{% endset %}

{% block content %}
<h1>Code</h1>
In no particular order
<ul>
<li><a href="https://github.com/timwaters/mapwarper">Map Warper</a></li>
<li><a href="https://github.com/openstreetmap/iD">OpenStreetMap iD editor</a></li>
<li><a href="https://github.com/openstreetmap/openstreetmap-website">openstreetmap-website</li>
<li><a href="https://github.com/openstreetmap/cgimap">OpenStreetMap CGImap</a></li>
<li><a href="https://github.com/SkalskiP/make-sense">makesense.ai</a></li>
<li><a href="https://gitlab.com/n42k/3dmr">3dmr</a></li>
</ul>

<h1>Data</h1>
<ul>
<li><a href="https://opendata.cityofnewyork.us/">NYC Open Data:</a>New York City streets, building footprints, metadata</li>
<li><a href="https://www.openstreetmap.org/">OpenStreetMap:</a>Georeferencing base layer for rǝ warpǝr; road and street data</li>
<li><a href="https://digitalcollections.nypl.org/">NYPL Digital Collections:</a>Scans of fire insurance maps, maps metadata</li>
<li><a href="https://opendata.dc.gov/datasets/historic-data-on-dc-buildings/">Open Data DC:</a>Historic Data on DC Buildings</li>
<li><a href="https://github.com/microsoft/USBuildingFootprints/">Microsoft:</a>US, Canada, Australia, Uganda, Tanzania building footprints</li>
<li><a href="https://www1.nyc.gov/site/doitt/initiatives/3d-building.page">NYC DoITT:</a>3D models</li>
</ul>
{% endblock %}

