{% extends 'templates/site.html' %}

{% set title %}
  {{ SITE_NAME }} - Attributions
{% endset %}

{% block content %}
<h1>Code</h1>
In no particular order
<ul>
<li><a href="https://github.com/timwaters/mapwarper">Map Warper</a></li>
<li><a href="https://github.com/openstreetmap/iD">OpenStreetMap iD editor</a></li>
<li><a href="https://github.com/openstreetmap/openstreetmap-website">openstreetmap-website</li>
<li><a href="https://github.com/openstreetmap/cgimap">OpenStreetMap CGImap</a></li>
<li><a href="https://github.com/SkalskiP/make-sense">makesense.ai</a></li>
</ul>

<h1>Data</h1>
<ul>
</ul>
{% endblock %}

