{% extends 'templates/site.html' %}

{% set title %}
  {{ SITE_NAME }} - Help
{% endset %}

{% block content %}
<div class="kartta-content-wrapper">

    <h2>Deleting Your {{ SITE_NAME }} Account</h2>

    <p>
      To delete your {{ SITE_NAME }} account, contact us at {{ CONTACT_EMAIL }}.  Note that deleting your {{ SITE_NAME }}
      account will not delete your Google account -- it just deletes your Google account's association with {{ SITE_NAME }}.
      This will delete all maps that you have uploaded to {{ SITE_NAME }} warper;  it will not delete contriutions you have
      made to Editor, but it will dissociate them from your account. See the
      <a href="/faq">FAQ</a> for more details.
    </p>

  </div>
{% endblock %}
