.kartta-caret {
  border-top-color:#CCC;
  margin-top:18px
}
.kartta-caret {
  display:inline-block;
  width:0;
  height:0;
  vertical-align:top;
  border-top:8px solid #000000;
  border-right:8px solid transparent;
  border-left:8px solid transparent;
  content:""
}
.kartta-caret {
  margin-top:16px;
  margin-left:4px
}

.kartta-app-name-menu {
  font-family: 'Zilla Slab', serif; font-size:26px;
  color:#1d1dd0;
  margin: 0;
  padding: 0;
}


.kartta-app-name-menu-caret .kartta-caret {
  border-top:8px solid #1d1dd0;
  position: relative;
  left: 0px;
  bottom: 4px;
}

.kartta-app-menu-wrapper {
  margin: 0;
  padding-top:15px;
  font-weight:600;
  line-height:1.2;
  font-size:18px;
  display:inline-block;
  float:left;
}

.kartta-app-menu-display-wrapper {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  left: 0;
  top: 0;
}

.kartta-app-menu-display {
  margin: 0;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}

.kartta-app-menu-display:hover {
  background-color: #1d1dd0;
}
.kartta-app-menu-display:hover .kartta-app-name-menu {
  color: white;
}
.kartta-app-menu-display:hover .kartta-caret {
  border-top-color: white;
}

.kartta-app-menu-display-dropdown {
  margin: 0;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'Zilla Slab', serif; font-size:26px;
  color:#1d1dd0;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.kartta-app-menu-display-dropdown .kartta-item {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.kartta-app-menu-display-dropdown .kartta-item:hover {
  background-color: #1d1dd0;
  color: white;
}

.kartta-app-menu-hidden {
  display: none;
}
