html {
  font-family:'Helvetica Neue',Arial,sans-serif;
  font-size:14px;
  height:100%;
}

html,body,ul,ol,li,form,fieldset,legend,h1,h2,h3,h4,h5,h6,p,input {
  margin:0;
}

body {
  overflow: hidden;
    display: flex;
    flex-flow: column;
    height: 100%;
    margin:0;
    padding:0;
}

.size-to-content {
    flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.fill-remaining {
  flex: 1 1 auto;
}

header {
  line-height:1.6666;
}

h1,h2,h3 {
  font-weight:600;
  line-height:1.2
}

h1 {
  font-size:18px
}

a {
  color:#24d;
  text-decoration:none;
  -webkit-appearance:none;
  outline:0
}

a:hover {
  text-decoration:underline
}

header {
  border-bottom:1px solid black;
  height:55px;
  position:relative;
  z-index:1001;
  font-size:14px
}

header h1,header nav,header nav>ul,header nav>ul>li,header .dropdown {
  display:inline-block
}

header>* {
  height:100%;
  padding:10px
}

header h1,header nav.primary {
  float:left
}

header a,header a:hover {
  text-decoration:none
}

header h1 {
  margin:0;
  padding-top:15px
}

header h1 a {
  color:#000
}

nav.secondary {
  position:absolute;
  right:0
}

nav.secondary>ul {
  vertical-align:middle
}

nav.secondary>ul a,nav.secondary>ul .dropdown-toggle {
  display:inline-block;
  text-decoration:none;
  color:#888;
  padding:5px
}

nav.secondary>ul a:hover {
  color: #484848;
}

#compact-secondary-nav {
  display:none
}
