{% extends 'templates/site-with-overlay-footer.html' %}

{% set title %}
  {{ SITE_NAME }} - Home
{% endset %}

{% set headmatter %}
  <script src='./mbgl/v1.12.0/mapbox-gl.js'></script>
  <link href='./mbgl/v1.12.0/mapbox-gl.css' rel='stylesheet' />

  <script src='./mbgl/mapbox-gl-inspect/v1.3.1/mapbox-gl-inspect.js'></script>
  <link href='./mbgl/mapbox-gl-inspect/v1.3.1/mapbox-gl-inspect.css' rel='stylesheet' />

  <script src='./kartta-slider.js'></script>
  <link href='./kartta-slider.css' rel='stylesheet' />
  <script src='./mbgl-timefilter.js'></script>
  <script src="./mbgl-map.js"></script>
  <link rel="stylesheet" type="text/css" href="./mbgl-map.css" />
{% endset %}


{% set headercontent %}
<div id="year-slider-placeholder"></div>
{% endset %}

{% block content %}
<div id="map-wrapper">
  <div id='map'></div>
  <div id="map-3d-message-overlay" class="kartta-hidden">
    Choose a location in the map to switch to 3D view
    <div id="cancel-3d-button">Cancel</div>
  </div>
</div>
{% endblock %}
