{% extends 'templates/site-with-overlay-footer.html' %}

{% set title %}
  Kartta Labs - Home
{% endset %}

{% set headmatter %}
  <script src='./mbgl/v1.10.1/mapbox-gl.js'></script>
  <link href='./mbgl/v1.10.1/mapbox-gl.css' rel='stylesheet' />

  <script src='./mbgl/mapbox-gl-inspect/v1.3.1/mapbox-gl-inspect.js'></script>
  <link href='./mbgl/mapbox-gl-inspect/v1.3.1/mapbox-gl-inspect.css' rel='stylesheet' />

  <script src='./mbgl-timefilter.js'></script>
  <script src="./mbgl-map.js"></script>
  <link rel="stylesheet" type="text/css" href="./mbgl-map.css" />
{% endset %}


{% set headercontent %}
  <div class='year-filter' id='sliderbar'>
    <h2>Year: <label id='filter-year-label'>1850</label></h2>
    <input id='year-slider' class='year-slider' type='range' min='1800' max='1950' step='10' value='1850' />
  </div>
{% endset %}

{% block content %}
<div id="map-wrapper">
  <div id='map'></div>
  <div id="map-3d-message-overlay" class="kartta-hidden">
    Choose a location in the map to switch to 3D view
    <div id="cancel-3d-button">Cancel</div>
  </div>
</div>
{% endblock %}
