<div class="kartta-footer-inner0">
  <div class="kartta-footer-inner1">
    <div class="kartta-footer-item"><a href="faq">FAQ</a></div>
    <div class="kartta-footer-separator">|</div>
    <div class="kartta-footer-item"><a href="https://policies.google.com/privacy">DATA PRIVACY</a></div>
    <div class="kartta-footer-separator">|</div>
    <div class="kartta-footer-item"><a href="https://policies.google.com/terms">TERMS OF SERVICE</a></div>
    <div class="kartta-footer-separator">|</div>
    <div class="kartta-footer-item"><a href="help">HELP</a></div>
    <div class="kartta-footer-separator">|</div>
    <div class="kartta-footer-item"><a href="about">ABOUT</a></div>
  </div>
</div>
