<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" media="screen" href="./kartta.css">
  <link rel="stylesheet" media="screen" href="{{ SHARED_ASSETS_PATH }}/kartta-app.css">
  <script src="{{ SHARED_ASSETS_PATH }}/kartta-app.js"></script>
  <link rel="icon" type="image/png" href="{{ SHARED_ASSETS_PATH }}/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ SHARED_ASSETS_PATH }}/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="{{ SHARED_ASSETS_PATH }}/favicon-96x96.png" sizes="96x96">
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap" rel="stylesheet">
  {% include "templates/analytics.html" %}
  {{ headmatter }}
  <title>{{ title }}</title>
</head>
